{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="breadcrumb-area bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/16.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Login Page</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Login Page</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="roberto-contact-form-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="roberto-contact-form">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="row justify-content-center">
                                <div class="col-6 wow fadeInUp" data-wow-delay="100ms">
{#                                    <input type="text" name="message-name" class="form-control mb-30"#}
{#                                           placeholder="Your Name">#}
                                    {{ form.username }}
                                </div>
                                <div class="col-6 wow fadeInUp" data-wow-delay="100ms">
{#                                    <input type="password" name="message-password" class="form-control mb-30"#}
{#                                           placeholder="Your Password">#}
                                    {{ form.password }}
                                </div>
                                <div class="col-6 text-left wow fadeInUp" data-wow-delay="100ms">
                                    <button type="submit" class="btn roberto-btn mt-15"> If you have not an account <a href="{% url 'account:register' %}"> Register </a></button>
                                </div>
                                <div class="col-6 text-right wow fadeInUp" data-wow-delay="100ms">
                                    <button type="submit" class="btn roberto-btn mt-15"> Login </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}