{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="breadcrumb-area bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/17.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <div class="breadcrumb-post-content">
                            <h2 class="post-title">{{ object.title }}</h2>
                            <div class="post-meta">
                                <a href="#" class="post-date"><i class="fa fa-calendar"
                                                                 aria-hidden="true"></i>
                                    {{ object.created_date|date:'d F, Y' }}</a>
                                <a href="#" class="post-author"><i class="fa fa-user" aria-hidden="true"></i> by Joe
                                    Fylan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="roberto-news-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">

                    <div class="post-thumbnail mb-50">
                        <img src="{{ object.image.url }}" alt>
                    </div>

                    <div class="blog-details-text">
                        <p>{{ object.content|safe }}</p>


                        <blockquote class="roberto-blockquote d-flex">
                            {% for object in contents %}
                                {% if object.is_quota %}
                                    <div class="icon">
                                        <img src="{% static 'img/core-img/quote.png' %}" alt>
                                    </div>
                                    <div class="text">
                                        <h5>{{ object.content|safe }}</h5>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </blockquote>


                    </div>

                    <div class="post-author-area d-flex align-items-center justify-content-between mb-50">
                        <ul class="popular-tags">
                            {% for object in tags %}
                                <li><a href="#">{{ object.title }},</a></li>
                            {% endfor %}
                        </ul>

                        <div class="author-social-info d-flex align-items-center">
                            <p>Share:</p>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div class="comment_area mb-50 clearfix">
                        <h2>
                            {% if comments %}
                                {{ comments.count }} Comments
                            {% else %}
                                No Comments
                            {% endif %}
                        </h2>
                        <ol>
                            {% for object in comments %}
                                <li class="single_comment_area">

                                    <div class="comment-content d-flex">

                                        <div class="comment-author">
                                            <img src="
                                                    {% if object.author.commentpicture %}{{ object.commentpicture.picture.url }}{% else %}{% static 'img/bg-img/40.jpg' %}{% endif %}"
                                                 alt="author">
                                        </div>

                                        <div class="comment-meta">
                                            <a href="#" class="post-date">{{ object.created_date|date:'d M F' }}</a>
                                            <h5>{{ object.author.username }}</h5>
                                            <p>{{ object.message }}</p>
                                            <a href="#" class="like">Like</a>
                                            <a href="?pid={{ comments.id }}" class="reply">Reply</a>
                                        </div>
                                    </div>
                                    <ol class="children">

                                        <li class="single_comment_area">
                                            {% for child in comments.children.all %}
                                                <div class="comment-content d-flex">

                                                    <div class="comment-author">
                                                        <img src="{% if child.author.commentpicture %}{{ child.commentpicture.picture.url }}{% else %}{% static 'img/bg-img/41.jpg' %}{% endif %}" alt="author">
                                                    </div>

                                                    <div class="comment-meta">
                                                        <a href="#" class="post-date">{{ child.created_date|date:'d M Y' }}</a>
                                                        <h5>{{ child.author.username }}</h5>
                                                        <p>{{ child.message }}</p>
                                                        <a href="#" class="like">Like</a>
                                                        <a href="?pid={{ comments.id }}" class="reply">Reply</a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </li>
                                    </ol>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>

                    <div class="roberto-contact-form mt-80 mb-100">
                        <h2>Leave A Comment</h2>

                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" name="message-name" class="form-control mb-30"
                                           placeholder="Your Name">
                                </div>
                                <div class="col-12">
                                    <input type="email" name="message-email" class="form-control mb-30"
                                           placeholder="Email">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="website" class="form-control mb-30" placeholder="Websites">
                                </div>
                                <div class="col-12">
                                <textarea name="message" class="form-control mb-30"
                                          placeholder="Start the discussion..."></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn roberto-btn btn-3 mt-15">Post Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="roberto-sidebar-area pl-md-4">

                        <div class="single-widget-area mb-100">
                            <div class="newsletter-form">
                                <h5>Newsletter</h5>
                                <p>Subscribe our newsletter gor get notification new updates.</p>
                                <form action="#" method="post">
                                    <input type="email" name="nl-email" id="nlEmail" class="form-control"
                                           placeholder="Enter your email...">
                                    <button type="submit" class="btn roberto-btn w-100">Subscribe</button>
                                </form>
                            </div>
                        </div>

                        <div class="single-widget-area mb-100">
                            <h4 class="widget-title mb-30">Recent News</h4>
                            {% for object in blogs %}
                                <div class="single-recent-post d-flex">

                                    <div class="post-thumb">
                                        <a href="{% url 'blog:detail' object.slug %}"><img src="{{ object.image.url }}"
                                                                                           alt></a>
                                    </div>

                                    <div class="post-content">

                                        <div class="post-meta">
                                            <a href="#" class="post-author">{{ object.created_date|date:'d F, Y' }}</a>
                                            <a href="#" class="post-tutorial">Event</a>
                                        </div>
                                        <a href="{% url 'blog:detail' object.slug %}"
                                           class="post-title">{{ object.title }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="single-widget-area mb-100 clearfix">
                            <h4 class="widget-title mb-30">Tags</h4>

                            <ul class="popular-tags">
                                {% for tag in tags %}
                                    <li><a href="#">{{ tag.title }},</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
